<h3>Edit Insurance Details</h3>
<div class="edit-container">
  <a *ngFor="let hero of heroes"  [routerLink]="['/detail', hero.id]">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
      <h4><label>Cyber Ridge Loan Number: &nbsp;{{hero.cyberridge_loan_number}}</label></h4>

  		<h4><label>Insurance Start Date: &nbsp;{{hero.insurance_start_date}}</label></h4>

       <h4><label>Brokerage Name: &nbsp;{{hero.brokerage_name}}</label></h4>

       <h4><label>Brokerage Phone Number: &nbsp;{{hero.brokerage_phone}}</label></h4>


     

         <h4><label>Policy Collison Deductible: &nbsp;{{hero.policy_collison_deductible_amt}}</label></h4>
       <h4><label>Policy Notes: &nbsp;{{hero.policy_notes_about_policy}}</label></h4>




       <!--   <h4><label>Policy Comprehensive Deductible: &nbsp;{{hero.policy_collison_deductible_amt}}</label></h4> -->

   <!--       <h4><label>Data Source &nbsp;{{hero.data_source}}</label></h4> -->
      
    </div>
  </a>
</div>
