<h3>Edit Insurance Details</h3>
<div class="edit-container">
  <a *ngFor="let policy of policies"  [routerLink]="['/detail', policy.id]">
    <div class="module policy">
      <h4>{{policy.name}}</h4>
      <h4><label>Cyber Ridge Loan Number: &nbsp;{{policy.cyberridge_loan_number}}</label></h4>

  		<h4><label>Insurance Start Date: &nbsp;{{policy.insurance_start_date}}</label></h4>

       <h4><label>Brokerage Name: &nbsp;{{policy.brokerage_name}}</label></h4>

       <h4><label>Brokerage Phone Number: &nbsp;{{policy.brokerage_phone}}</label></h4>

         <h4><label>Policy Collison Deductible: &nbsp;{{policy.policy_collison_deductible_amt}}</label></h4>
       <h4><label>Policy Notes: &nbsp;{{policy.policy_notes_about_policy}}</label></h4>

      
    </div>
  </a>
</div>
