/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

html, body, .container {
height: 100%;
}

.loan-header h1 {
color: #fff; 
font-family: 'Raleway', sans-serif;
font-size: 40px !important; 

}

.blog h1 {

  color: #000 !important; 
}



.loan-header {

height: 150px; 
background-color: #000; 
display: -webkit-flexbox;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-flex-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
justify-content: center;

}
.loancontainer {
display: -webkit-flexbox;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-flex-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
justify-content: center;
min-height: 300px; 
background-color: #cccccc; }

.details-container {

margin: 0 auto; 


}

.flex-grid {
display: flex;
flex-direction: row;
margin: 50px;
}
.col {
flex: 1;
}

.feature-flex-item {
text-align: center;
}


/* For the lower history columns */ 

.history-grid {
display: flex;
flex-direction: row;
margin: 50px;
}
.historycol {
flex: 1;
}



a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* everywhere else */
* {
font-family: 'Raleway', sans-serif;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}


